<form class="container form mt-5 border p-4 rounded" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
        <div class="col container">
            <label class="row">First Name</label>
            <input name="firstName" class="row input border mb-1 rounded-1" formControlName="firstName" type="text"  />
            <label class="row">Last Name</label>
            <input class="row border mb-1 rounded-1" formControlName="lastName"  type="text"/>
            <label class="row">Email*</label>
            <input class="row border rounded-1" formControlName="email" type="text"  />
        </div>
        <div class="column_second col container d-flex flex-column justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <label class="">
                    is_active
                </label>
                <mat-slide-toggle class=""  formControlName="is_active" class="slide"></mat-slide-toggle>
            </div>
            
            <button type="submit" class="btn btn-primary  px-3 py-1 shadow align-self-end" (click)="save()">Save</button>
        </div>
    </div>
    
</form>